@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
}

@layer base {
	a {
		text-decoration: underline;
		color: #3b82f6;
		cursor: pointer;
	}
}

@tailwind components;
@tailwind utilities;
